#general-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* height: 100%; */
}

#general-loader .logo-container {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  -webkit-perspective: 800px;
  perspective: 800px;
}

#general-loader .logo-container img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  -webkit-animation: pulse 1.25s linear infinite;
  animation: pulse 1.25s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

#general-loader .loader-text {
  color: var(--flwmn-primary-color-800);
  /* color: var(--flwmn-white); */
  text-align: center;
  margin: 0.5rem 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
