<div class="flex flex-col md:items-center md:mt-[5rem] items-start gap-[50px]">
  <div class="flex flex-col md:items-center sm:px-[5vw] items-start gap-[20px]">
    <img src="../../../../assets/images/quote.svg" alt="" />

    <app-secondary-heading
      [title]="testimonialTitle"
      [textColor]="'text-white'"
    ></app-secondary-heading>
    <app-primary-paragraph
      [text]="testimonialText"
      [textColor]="'text-white'"
    ></app-primary-paragraph>
    <p class="text-[2.4rem] text-white font-body-1 italic">
      {{ testifierName }}
    </p>
  </div>
  <div class="flex items-center">
    <img
      class="rotate-z"
      src="../../../../assets/images/chevron-right.svg"
      alt=""
    />
    <img src="../../../../assets/images/chevron-right.svg" alt="" />
  </div>
</div>
