<div class="max-w-[58rem] h-full text-t-black-3 font-body-1 text-[1.6rem]">
  <input
    [id]="id"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [type]="inputType"
    class="peer w-full p-4 font-light bg-t-tint-5 border-2 border-t-tint-3 rounded-[1rem] outline-none transition disabled:opacity-70 disabled:cursor-not-allowed"
  />
  <label
    class="absolute text-md duration-150 transform -translate-y-3 top-5 z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
  >
    {{ label }}
  </label>
</div>
