<div class="group max-w-[386px] min-h-[488px] hover:shadow-lg">
  <div class="w-full max-h-[400px] rounded-[4rem] overflow-hidden">
    <img
      src="{{ imageUrl }}"
      class="object-fit w-[100%] group-hover:scale-110 transition-all"
      alt=""
    />
  </div>

  <div class="p-[1.5rem] pb-[3rem] w-[30rem] mt-5">
    <h3
      class="font-headline-2 text-[2.4rem] leading-[2.7rem] mb-5 text-t-black-2"
    >
      A digital prescription for the pharma industry
    </h3>
    <app-tertiary-paragraph
      [text]="
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo sodales elit......'
      "
    ></app-tertiary-paragraph>
  </div>
</div>
