<div class="max-w-full px-[7%] mx-auto pt-[5%] md:mt-[4.8rem] bg-t-blue-2">
  <div
    class="w-full flex justify-between md:flex-col sm:mt-[6.4rem] md:gap-[5rem] items-center pb-[2%] border-b-[1px] border-t-grad-col-3 border-solid"
  >
    <div>
      <img src="../../../../assets/images/2,696logo-white.svg" alt="" />
    </div>
    <ul
      class="relative p-4 flex sm:flex-col sm:gap-[3rem] font-body-1 text-[1.8rem] text-white items-center justify-between gap-x-[40px]"
    >
      <li class="relative main-nav-link inline-block">
        <a href="#" class="flex items-center justify-between">
          <span>Home</span>
        </a>
      </li>
      <li class="main-nav-link"><a href="#">Contact Us</a></li>
      <li class="relative main-nav-link">
        <a href="#" class="flex items-center justify-between"> About </a>
      </li>
      <li class="relative main-nav-link">
        <a href="#" class="flex items-center justify-between"> Our works </a>
      </li>
    </ul>
    <div class="flex gap-[10px] md:mb-[2.4rem]">
      <app-small-icon
        [iconUrl]="'../../../../assets/images/Pathinstagram.svg'"
        [navUrl]="'https://www.instagram.com/reventtech/'"
        [backgroundColor]="'bg-white'"
      ></app-small-icon>
      <app-small-icon
        [backgroundColor]="'bg-white'"
        [navUrl]="
          'https://twitter.com/ReventTech?t=XVWQ3iBHA5pWtsLiIHL5ng&s=08'
        "
        [iconUrl]="'../../../../assets/images/twitter.svg'"
      ></app-small-icon>
    </div>
  </div>
  <div
    class="w-full font-body-1 text-white text-center p-[4.8rem] text-[1.4rem] flex justify-center"
  >
    <p>&copy; 2021 Revent Technologies. All rights reserved</p>
  </div>
</div>
