<div class="rounded-[0.35rem]">
  <div class="p-7 flex justify-center">
    <p>This record would be deleted from database. Continue?</p>
  </div>
  <div class="w-full flex items-center">
    <button
      class="rounded-[0.35rem] font-poppins text-danger-500 text-[1.6rem] font-normal px-[2.1rem] py-[.7rem]"
    >
      No
    </button>
    <button
      class="rounded-[0.35rem] font-poppins text-[1.6rem] text-primary-500 font-normal px-[2.1rem] py-[.7rem]"
    >
      Yes
    </button>
  </div>
</div>
