<div
  class="w-full h-[22rem] md:h-[auto] bg-t-blue-2 py-[4.8rem] px-[12%] flex md:flex-col items-center justify-between"
>
  <div
    class="max-w-[26rem] h-[12.6rem] flex flex-col items-center gap-[1.5rem] md:gap-[0.8rem] text-center"
    *ngFor="let achievement of achievements"
  >
    <app-secondary-heading
      [title]="achievement.magnitude"
      [center]="true"
      [textColor]="'text-white'"
    ></app-secondary-heading>
    <app-primary-paragraph
      [text]="achievement.metric"
      [textColor]="'text-white'"
    ></app-primary-paragraph>
  </div>
</div>
